body { margin: 0; }
canvas {
  display:inline;
  float: right;
}
#goback{
  padding: 1em;
  margin-left: 10px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  top: 10%;
}
#sidebar{
  position: absolute;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  top: 20%;
  text-align: center;
}
.visButton{
  display:block;
}
#panelsDiv{
  float:left;
  display: inline;
}

#buttonsDiv{
  display: inline;
  float:right;
}
input[type="number"]{
  width: 3em;
}
button{
  margin-bottom: 1em;
  margin-top: 1em;
}
